.carousel-card {
  overflow-x: hidden;
  position: relative
}
.carousel-card-container {
  position: relative;
  height: 300px
}
.carousel-card-arrow {
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  height: 36px;
  width: 36px;
  cursor: pointer;
  transition: .3s;
  border-radius: 50%;
  background-color: rgba(31,45,61,.11);
  color: #fff;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  text-align: center;
  font-size: 12px
}
.carousel-card-arrow:hover {
  background-color: rgba(31,45,61,.23)
}
.carousel-card-arrow i {
  background-size: 80%;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position-y: 50%
}
.carousel-card-arrow:hover i {
  cursor: pointer
}
.carousel-card-arrow-left {
  left: 16px
}
.carousel-card-arrow-left i {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAANR0lEQVR4Xu2de6hmVRnGn8cpHa8oCQqaRhQzGmPKDDZiaGQ2xIigEZF0NykjplJCs6ayi4aNokZKYk63EYqEUAgFE8ssdIyZ8Y+SqD+CvCARFmVE2ROL1pHT6Ttn9l57rXW+tfez/531Xtbv3c987/eetfdH+DIBE1iWAM3GBExgeQIWiO8OE1iBgAXi28MELBDfAyaQRsCfIGncbDURAhbIRArtbaYRsEDSuNlqIgQskIkU2ttMI2CBpHGz1UQIWCATKbS3mUbAAknjZquJELBAJlJobzONgAWSxs1WEyFggUyk0N5mGgELJI2brSZCwAKZSKG9zTQCFkgaN1tNhIAFMpFCe5tpBCyQNG62mggBC2QihfY20whYIGncbDURAhbIRArtbaYRsEDSuNlqIgQskIkU2ttMI2CBpHGz1UQIWCATKbS3mUbAAknjZquJELBAJlJobzONgAWSxs1WEyFggUyk0N5mGgELJI2brSZCwAKZSKG9zTQCFkgaN1tNhIAFMpFCe5tpBCyQNG62mggBC2QihQ7blHQOgE0AngHwOMk9E9p+0lYtkCRs7RhJCoK4CsC5AA5bkvkuAB8j+cd2dlQ3UwukLu+q0SSdD+B7ANauEPip8KlC8umqyTUSzAJppFB905T0PgB3dLT7FYAzST7Xcf1kllkgIyy1pLMAPABgTY/tXUfyih7rJ7HUAhlZmSWtB/AIgCN6bu0PJF/e02b0yy2QEZVY0tEAHgNwYuK2Tie5O9F2lGYWyEjKKil8EX8ojnFTd3UWyeDDVyRggYzkVpB0D4DzBm5nM8nQnvmyQMZzD0i6HsBlA3f0PICjSf59oJ9RmfsTpPFySnovgJ0ZtnEbyQ9m8DMqFxZIw+WUtAXAvZm2cCrJfZl8jcaNBdJoKeM4N0ysDs2whdtJXpLBz+hcWCANllTSMXGce3yG9J8EsI7k3zL4Gp0LC6SxksZxbpg0nZIp9XNIhr+6+5pBwAJp6LaQFOp1d4Zx7sKu3Vrtp/4WSFsCuQXApZlSdmvVAaQF0gHSPCyRtA3ATRlzcWvVAaYF0gHSai+RtDW2VgdkyuUbJD+Qydeo3Vggc15eSRvi6dyDM6Xq1qoHSAukB6zaSyUdF8e5x2aM7daqB0wLpAesmkslHRLFcVLGuG6tesK0QHoCq7FcUviuEY6QhBct5LrcWiWQtEASoJU2kRSeJQ/PlOe83Fol0LRAEqCVNJF0OYAdmWPcQfLizD4n4c4CmaMyx3FuePApZ11Ca3Uyyb/M0VabSSVnIZrZ9DwmKmljfGQ21zh3YZturQYU3AIZAC+XaRzn7g1P9OXyGf3sJPn+zD4n5c4CWeVySzo8/iEw5zg37MqtVYbaWiAZIKa6iOPccNT87FQfK9i5tcoA1QLJADHVRaFxbkjHrVVqUZbYWSCZQPZ1I+lKANf2teuw3q1VB0hdl1ggXUllXCfpQgA/yDzO9dQqY40WXFkgBaCu5DKOcx8GcFCB0N8kmfsv8AXSbMelBVKxVpLCO3PDm0hyj3M9tSpURwukENilbuM495cAXl0opKdWBcBaIAWgzhDHSwDcX2icG8K5tSpURwukENjFbiWF3wK8qFCoZ8Onks9alaFrgZTh+qJXSdsBfL5gmK0kf1TQ/6RdWyAFyx/HuXcVDPEtkuHl1b4KEbBACoGVtBnAg4XGuSFrt1aFarfYrQVSALKkVwF4FMBRBdwvuHRrVRDugmsLJDNkSUcC2APgFZldL3b3bZLvKejfriMBCyTjrSDpwNhWnZHR7VJXbq0Kwl3q2gLJCFtSOF/11owuZ7lya1UYsL+DFAAsKYxyw0i35OXWqiTdGb79CZIBuKR3ALgzg6uVXLi1Kgx4lnsLZCB0SWfFYyQvHehqf+ZurfZHqMC/WyADoMZxbjiAeMQAN11Mv0Py3V0Wek1eAhZIIk9JL4tH10uOc0N2bq0Sa5TDzAJJoBjHueGhp00J5n1N3Fr1JZZxvQWSALPSODdk5tYqoT45TSyQnjQlhRcthBculL7cWpUm3MG/BdIB0sISSeHk7M4eJkOWurUaQi+TrQXSEWQc54aXvK3paDJk2XdJvmuIA9vmIWCBdOAoaX18PWjpca6nVh3qUXOJBbIf2nGcG14sfXylwri1qgS6SxgLZAVKktbGnySoMc4Nmewi+c4uhfOaOgQskJUFEs5XhXNWNa5nAKwn+ecawRyjGwELZBlOkrbEH9LsRnL4qreRDMflfc0RAQtkRjHiX8p/DeCVlWq1j+SplWI5TA8CFshsgbwZwH09OA5dej7J8NuEvuaMgAUyWyCXAbi+Uq1eIBnevOhrDglYILMFUuJ3ypcr/29IrpvDe8MpFfp9iubBSroNwCWVNvJbkqVeaF1pC+MN40+Q2Z8g2wDcVKnsLwA4kOS/K8VzmB4ELJDZAnkjgB/34Dh0qb+kDyVYyN4CmS2Q8KU5jHnDGxJrXD8h+YYagRyjHwELZBleq/CHwk0kw/PtvuaIgAWyQjEk1TxqspfkaXN0bzgVT7FWvgdW4bDidpJf9J05PwT8CbKfWlQ+7v4vABtIPjE/t8i0M7FAOtS/8gNT+wBsJBnGv75WmYAF0rEAlR+5/SzJkj/b1nHXXmaB9LgHKr60wa1Wj7qUXGqB9KQr6RoAn+xplrLcrVYKtcw2FkgC0Iovjrua5OcSUrRJJgIWSALIiq8eDa1W+ML+eEKaNslAwAJJhFjx5dXhyEsY/XqqlVirIWYWyAB6FX/+4AskPzMgVZsmErBAEsEtmFX6AR23WgPrlGpugaSSW2RX6SfY3GplqFVfFxZIX2LLrJd0NYDSbdCXSH46U8p204GABdIBUtclknYBuKjr+oR14anD0zzVSiCXaGKBJIKbZSYpPGj1UwBnZHS71FVotV5L8p8FY9h1JGCBZL4VJB0J4FEAJV/EcA3JT2VO3e5mELBACtwWkk4EsAfAUQXcB5dutQqBXerWAikEWtJmAA8COKhQCLdahcAudmuBFIQs6UIAdxUM8WWSNQ5OFtzCfLu2QArXR9J2AKWe7Qit1utIPlZ4G5N1b4FUKH3h8e/vAJzkqVaZQlogZbj+j9c4/r0fwNmFwl1H8opCvift1gKpVH5JhwMI770qMf51q1WojhZIIbCz3Mbxb/i+cHSBsG61CkC1QApAXcmlpI0AHi40/t1B8hOVtzTqcBbIKpQ3jn/D7xHm5i8Ap3uqla+ouQuUL7ORe5J0JYBrC2zTrVZGqBZIRph9XUkq9UtWN5C8vG8+Xv//BCyQVbwrJB0A4IEC41+3WpnqaoFkApnqJo5/Hwl/7Ev1sYxdaLVeQ/Ifmf1Oyp0FMgfllnQcgL0Fxr83kvz4HGyx2RQskDkpXRz/PgTg4IwphVbr9SR/ntHnpFxZIHNUbklbAdyTefz7ewDr3GqlFdoCSeNWzEpSmD7tyBzgZpIfzexzEu4skDksc4Hxr1utxDpbIIngSprF8e+9AM7NGMetVgJMCyQBWg0TSYcACAcbc45/v0pyW438xxLDApnjSsbxbxDJsRnTPNNTre40LZDurFZlpaQNAMIfEnONf91q9aikBdID1motjePfuwGEoyk5rq+R/EgOR2P3YYE0UmFJYUx7Y8Z03Wp1gGmBdIA0L0sk3QLg0kz5hFbrZJLPZ/I3SjcWSENllRTqdV/G8e+tJD/cEILqqVog1ZEPCxjHv78AcMowTy9au9VaAaQFkukuq+lG0jHx9G+O8a9bLQuk5u1bJ1Yc/4ZPkkMzRPw6yQ9l8DM6F/4EabikkrYACEdSclzhZQ+7czgakw8LpPFqSgr/89+aYRvfJ/n2DH5G5cICGUE5Jd0AYOiTg+HtjCeQfHIESLJtwQLJhnL1HMXxb/hL+3kDs7iA5A8H+hiVuQUyknJKWhvPbA0Z/76FZK7vNKMga4GMooz/3YSkMPYNBxtPSNzWZpLB3lckYIGM7FaQtD4+R9J3/PssyfD3FV+LCFggI7wdJL0pjn/X9NieX3w9A5YF0uMOammppIsB3N4x5ycAhCMnf+q4fjLLLJARl1rSBQDuBBC+wC93PQVgE8mnR4wieWsWSDK6NgwlbQJwVTwBfNiirP8K4GYAXyH5XBu7qZ+lBVKf+apFjN9NwiO8u0n+bNUSaSiwBdJQsZxqfQIWSH3mjtgQAQukoWI51foELJD6zB2xIQIWSEPFcqr1CVgg9Zk7YkMELJCGiuVU6xOwQOozd8SGCFggDRXLqdYnYIHUZ+6IDRGwQBoqllOtT8ACqc/cERsiYIE0VCynWp+ABVKfuSM2RMACaahYTrU+AQukPnNHbIiABdJQsZxqfQIWSH3mjtgQAQukoWI51foELJD6zB2xIQIWSEPFcqr1CVgg9Zk7YkMELJCGiuVU6xOwQOozd8SGCFggDRXLqdYnYIHUZ+6IDRGwQBoqllOtT8ACqc/cERsiYIE0VCynWp+ABVKfuSM2RMACaahYTrU+AQukPnNHbIiABdJQsZxqfQIWSH3mjtgQAQukoWI51foELJD6zB2xIQL/AYgQtuduJFIrAAAAAElFTkSuQmCC);
  background-position-x: 30%
}
.carousel-card-arrow-right {
  right: 16px
}
.carousel-card-arrow-right i {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAANjElEQVR4Xu2de8hmVRXGn6crKEQJJRpUEHQzSnFsmsShhkiJRsixvFU2FpVS1lBOxBBa6BCOxGTE2MXGTKeIpj9q/Ce1cEq7MCppmaKUkYKGUYx4Sc0VC87E8H7v5Zx99uXs9zzn32+vtfb+Pefh22e950LoEAERmEmAYiMCIjCbgAyis0ME5hCQQXR6iIAMonNABMII6D9IGDdFjYSADDISobXMMAIySBg3RY2EgAwyEqG1zDACMkgYN0WNhIAMMhKhtcwwAjJIGDdFjYSADDISobXMMAIySBg3RY2EgAwyEqG1zDACMkgYN0WNhIAMMhKhtcwwAjJIGDdFjYSADDISobXMMAIySBg3RY2EgAwyEqG1zDACMkgYN0WNhIAMMhKhtcwwAjJIGDdFjYSADDISobXMMAIySBg3RY2EgAwyEqG1zDACMkgYN0WNhIAMMhKhtcwwAjJIGDdFjYSADDISobXMMAIySBg3RY2EgAwyEqG1zDACMkgYN0WNhIAMMhKhtcwwAjJIGDdFjYSADNJCaDM7FsAbARwO4FaSN7YI05AlICCDzBHRzF4K4HIAp08MexTA9QAuIXnbEpwHWsIMAjLIDDBmdgSAfQCOnHP2PA7g/SSv0xm2nARkkCm6mtmLAdwM4A0tZd9I8qqWYzWsIgIyyHSDXArggg46/hfAOpJ7O8RoaAUEZJDpBvkHAL/+6HLsB7Ca5N1dgjR22ARkkAl9zGw1gN8GyvY3AKtIPhIYr7CBEZBBVhpkLYCbeujkF/YnkHyyRw6FDoSADLLSIG8F8Jue+uwhub5nDoUPgIAMstIghwDwa5BDe+pzGckuF/o9yyk8BQEZZPpF+ncAfCQCcLV/I0AsmUIGmW4Qv7XEryViHCeS/HmMRMqRn4AMMoO5mcX6L/JY09lS+zf/+d27ogwy2yB+DXIPgJf3pgw80Jjk4Qi5lCIjARlkDmwzWwcg1p27dzQ/JKr9m/EE71tKBllA0MyuBHBOX9BN/B4AJ5O0SPmUJjEBGWSxQWJutbza10h+JrGuSh+JgAzSAmTkrZZXPJfkFS1Ka0hhAjJISwEib7WeBeDt3xtaltewQgRkkJbgzexFAO6K1NXyqt7+XUPyzpZT0LACBGSQDtATbLUeAnA0SbV/O+iQc6gM0pG2mX0XwMaOYfOGe/vX/5P447s6BkZABukoSIKtls/AXwDh1yRq/3bUI/VwGSSAcIKtls9iB8nzAqajkIQEZJBAuGa2E8CHA8NnhW0iuT1yTqXrQUAGCYSXaKvl7V//pV2vEQrUJXaYDNKDaKKt1hPNPVtq//bQJlaoDNKTpJn5+7DO7plmMtzbv/7yhwcj51W6jgRkkI7AJoc3W617AbysZ6rJ8D83JlH7NzLYLulkkC60Zow1s3cDSHHd4O3fk0j6tYmOAgRkkEjQzex7AD4UKd3BaXaSjHW7fYLpLXdKGSSSvgm3Wj7DzSS3RZqq0nQgIIN0gLVoaMKtlv/Cvl7t30UKxP+7DBKZqZldDeCDkdN6Om//+hsbb02QWylnEJBBIp8aibda/s5fv/tX7d/Ius1KJ4MkAJ1wq+Wz9favv0Xev3KlIzEBGSQR4IRbLZ+xv1z7nSSfSTR9pW0IyCCJToXEWy2f9S6SZyWavtLKIOnPgcRbLV/AFpJb069kvBX0HySx9mb2fQAfSFhmA8mfJMw/6tQySGL5M2y1/gPg7SRDv4qVmEDd6WWQDPpl2Gr9C8AxJP0TcDoiEpBBIsKcl8rMrgGQ8qLa7yh+C8l/Z1rSKMrIIJlkzrDV8pX4p+PWqv0bT1QZJB7LhZkybLXU/l2oQrcBMkg3Xr1Hm9m1AM7snWh+ggtJfjlxjVGkl0Eyy2xmLwHgX5uK/QTi5ErOJPmDzMtbunIySAFJM221nm6uR9T+7aGxDNIDXp9QM9sF4Iw+OVrEevvXO1v3tRirIVMIyCCFTouMW637m99I1P4N0FoGCYAWKyTTVutA+9d/bX8q1tzHkkcGKay0mfmF9OkZprGb5KkZ6ixVCRmksJwZt1q+0otJfrHwkqsqL4MMQK6MWy1frdq/HTSXQTrASjk041bL27/+NOLelOtZltwyyECUbLZa3o49LMOU9gM4Vu3fxaRlkMWMso0ws/cCyPXwk7d//QXZ/8y2wAoLySADE83MfgjgtEzT2gfgeLV/Z9OWQTKdiW3LmJlvsfzVPqnv1TowpWtJpnwkuO3SBzlOBhmgLGbmv4vkvNHQL9pvHCCK4lOSQYpLMH0CZvZHAEdlmt5fALxWD1qtpC2DZDoDu5Yxs1MA7O4a12P8OpK/7BG/lKEyyEBlNbPnAvDfLHJpdD7Jrw8UR7Fp5YJfbIE1FzazvwJ4VaY1fIvkxzPVqqaMDDJgqczMX+PzikxTlEGmgJZBMp19XcuY2QsA+Evhch2fJPmNXMVqqSODDFQpM9sA4McZp+evC/pVxnpVlJJBBiqTmd0CYE2m6flLJI7S13TV5s10vvUrY2arAeR82YJavDMk03+Qfudykmgzu90/tZYk+cqk15BM8U3FTNNPW0YGScu3c3Yz8yf+cr30TTcrLlBIBul8CqcLMLPXAbgTwPPSVfl/Zt3u3gKyDNICUo4hzS/n/onnN2eopwemWkKWQVqCSj3MzC4EcFHqOs3tK3rktiVoGaQlqJTDzOxNAPy/R46tlV7a0EFMGaQDrBRDm62VX3e8PkX+iZxbSW7JUGdpSsgghaU0M+9Y5XhXlV4cF6C1DBIALVZIxq2Vf3lKrx4NEE4GCYAWIyTj1kovr+4hmAzSA16fUDO7GEDq6wF9/qCPSBmfVus5zeUKb7ZWfjvJcxKuTB/QiQBX/0EiQOySwsyeD+APGbpWaud2EWbGWBkkAsQuKcxsK4AvdIkJGHsRyS8FxClkgoAMkvGUyLS12kXyrIzLWupSMkgmeTNtrbyd608GPpNpWUtfRgbJJLGZfQXA5xOWu7f5YKe+RRgRsgwSEeasVGa2CsDvEnatvJ17DEl/C4qOiARkkIgwp6Vqtlb+MupXJyrlbz7xX8lzPqKbaCnDSyuDJNbEzC4FcEHCMhtI5vqmSMJlDDO1DJJQl2Zr9fuEP8huIeltYx2JCMggicBm2FqpnZtIu4PTyiCJIJvZZQA+myj9Tc2HONXOTQT4QFoZJAHgxFsrb+f6BzgfTTB1pZwgIINEPiXM7IUA/pSoa/VI8+FNtXMj6zYrnQwSGbSZfRXApshpPd0TAE4g6c+u68hEQAaJCDrh1soArCd5XcTpKlULAjJIC0hthiTeWm0mua3NPDQmLgEZJBJPM9sO4NOR0h2cZifJcxLkVcoWBGSQFpAWDTGztwH4dYIfBK8HcJI+S7BIgXR/l0F6sm22VvcAeGXPVJPhfv/WKpKPR86rdB0IyCAdYE0bamaXA/hUzzST4Q815ngwcl6l60hABukI7ODhzdbq5h4ppoV6O3c1SX/boo7CBGSQQAESba2eBXCy2rmBoiQIk0ECoZqZfxH2vMDwWWGbSHo3TMdACMggAUIk2lrtIBnbcAGrU8jBBGSQjueDmR0C4K7IXStv555I0n8x1zEgAjJIRzHMbAeAT3QMmzf8Dv/cs9q5EYlGTCWDdIBpZu8A8IsOIYuGejv3aJIPLxqov5chIIO05N5srfxZjCNbhiwa9ljzn0Pt3EWkCv5dBmkJ38y+CeBjLYcvGubtXL/muGHRQP29LAEZpAX/BFurc0le0aK0hhQmIIMsECDB1mo7yRQPVBU+lZazvAyy2CDfBvDRSPLvaX4pVzs3EtDUaWSQOYQjb628nev3WD2ZWlTlj0dABpnBMvLW6oHm7ly1c+Odu1kyySCzDXIlgBhP8nk715/ruDuLoioSlYAMMgWnmR0HwF8ZGuN4F0m/lURHhQRkkOkG+RGA90XQcyPJqyLkUYpCBGSQCfBm5r+U/z3Ctzy2kdxcSFeVjURABllpkFMA7O7JdzfJU3vmUPgACMggKw3yHgA/66HNPgDHk3yqRw6FDoSADLLSIGsA3BKoz/0AjiPp79DVsQQEZJDpF+l+G/rhHfXd37x1/b6OcRo+YAIyyHSDdP22x9PN9zr2DlhrTS2AgAwy3SCHAfBvjr+mJdOzSV7dcqyGVURABpkhlpkdAcAvuOc9IOVvPTyD5E8r0lxT7UBABpkDy8z8P8nnAJwP4NCDhvrXnfzX8UtI3taBt4ZWRkAGaSmYma31DhWA20nGfC695Qw0rAQBGaQEddWshoAMUo1UmmgJAjJICeqqWQ0BGaQaqTTREgRkkBLUVbMaAjJINVJpoiUIyCAlqKtmNQRkkGqk0kRLEJBBSlBXzWoIyCDVSKWJliAgg5SgrprVEJBBqpFKEy1BQAYpQV01qyEgg1QjlSZagoAMUoK6alZDQAapRipNtAQBGaQEddWshoAMUo1UmmgJAjJICeqqWQ0BGaQaqTTREgRkkBLUVbMaAjJINVJpoiUIyCAlqKtmNQRkkGqk0kRLEJBBSlBXzWoIyCDVSKWJliAgg5SgrprVEJBBqpFKEy1BQAYpQV01qyEgg1QjlSZagoAMUoK6alZDQAapRipNtAQBGaQEddWshoAMUo1UmmgJAjJICeqqWQ0BGaQaqTTREgT+ByCZzufDO8ghAAAAAElFTkSuQmCC);
  background-position-x: 70%
}
.carousel-card-indicators {
  position: absolute;
  list-style: none;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  z-index: 2
}
.carousel-card-indicators-outside {
  bottom: 26px;
  text-align: center;
  position: static;
  transform: none
}
.carousel-card-indicators-outside .carousel-card-indicator:hover button {
  opacity: .64
}
.carousel-card-indicators-outside button {
  background-color: #c0c4cc;
  opacity: .24
}
.carousel-card-indicators-labels {
  left: 0;
  right: 0;
  transform: none;
  text-align: center
}
.carousel-card-indicators-labels .carousel-card-button {
  height: auto;
  width: auto;
  padding: 2px 18px;
  font-size: 12px
}
.carousel-card-indicators-labels .carousel-card-indicator {
  padding: 6px 4px
}
.carousel-card-indicator {
  display: inline-block;
  background-color: transparent;
  padding: 12px 4px;
  cursor: pointer
}
.carousel-card-indicator:hover button {
  opacity: .72
}
.carousel-card-indicator.is-active button {
  opacity: 1
}
.carousel-card-button {
  display: block;
  opacity: .48;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: .3s
}
.carousel-card-arrow-left-enter, .carousel-card-arrow-left-leave-active {
  transform: translateY(-50%) translateX(-10px);
  opacity: 0
}
.carousel-card-arrow-right-enter, .carousel-card-arrow-right-leave-active {
  transform: translateY(-50%) translateX(10px);
  opacity: 0
}
.carousel-card-item, .carousel-card-mask {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0
}
.carousel-card-item {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  z-index: 0
}
.carousel-card-item.is-active {
  z-index: 2
}
.carousel-card-item.is-animating {
  transition: transform .4s ease-in-out
}
.carousel-card-item-card {
  width: 50%;
  transition: transform .4s ease-in-out
}
.carousel-card-item-card.is-in-stage {
  cursor: pointer;
  z-index: 1
}
.carousel-card-item-card.is-active {
  z-index: 2
}
.carousel-card-item-card.is-in-stage.is-hover .carousel-card-mask {
  opacity: .12
}
.carousel-card-item-card.is-in-stage:hover .carousel-card-mask {
  opacity: .12
}
.carousel-card-mask {
  width: 100%;
  background-color: #fff;
  opacity: .24;
  transition: .2s
}
